body {
 margin: 0;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
        
.Banan {
max-width: 80%;
max-height: 80%;
position: absolute;
}

.Spelknappen {
max-width: 28.3%;
max-height: 28.3%;
position: absolute;
}
  